:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, 'Inter';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue-1: #0C4891;
  --blue-2:rgb(12, 72, 145,0.6);
  --blue-3:#2A7DE1;
  --calendar-predetermined:#74A0FF;
  --calendar-selected:rgb(116, 160, 255,0.23);
  --text-predetermined:#000000;
  --text-secondary:#1E1E1E;
  --text-tertiary:#919191;
}


body {
  margin: 0;
  /* place-items: center; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

button{
  cursor: pointer;
}